@use "../config/" as *;
.card {
  padding: 1rem;
  border: 0.1rem solid var(--gray);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  &-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 2rem;
    @include mq(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    .card-ad-banner {
      grid-column: 1/-1;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    .label {
      color: var(--primary);
      background-color: rgba(map-get($colors, primary), 0.2);
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }
  }
  &-image {
    position: relative;
    aspect-ratio: 4/3;
    border-radius: 0.5rem;
    overflow: hidden;
    &:not(:hover) {
      .card-img-hover {
        opacity: 0;
      }
    }
  }
  &-img {
    position: absolute;
    inset: 0;
    object-fit: contain;
    transition: 300ms opacity ease-in-out;
    &-hover {
      object-fit: cover;
    }
  }
  &-data {
    position: relative;
    padding: 1rem;
    &:hover {
      .card-sizes {
        opacity: 1;
      }
    }
  }
  &-brand {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: var(--primary);
    margin-bottom: 0.5rem;
  }
  &-title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
  }
  &-price {
    padding-right: 0.5rem;
    &-wrap {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 550;
    }
  }
  &-discount {
    &-percent {
      color: var(--primary);
      font-size: 0.9em;
    }
    &-price {
      text-align: center;
      text-decoration: line-through;
      opacity: 0.7;
      font-size: 1.6rem;
    }
  }
  &-sizes {
    position: absolute;
    inset: 0;
    background-color: var(--white);
    padding: 1rem;
    transition: 300ms opacity ease-in-out;
    text-align: center;
    opacity: 0;
    .text {
      opacity: 1;
    }
    p {
      opacity: 0.6;
      font-size: 1.6rem;
      font-weight: 600;
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      li {
        font-size: 1.4rem;
        &:not(:last-child)::after {
          content: " | ";
        }
      }
    }
  }
  &-footer {
    margin-top: auto;
    &-top {
      text-align: center;
      p {
        font-size: 1.4rem;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      img {
        width: 2rem;
        height: 2rem;
      }
      .like {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        &-wrap {
          .not-liked {
            width: 2rem;
            position: relative;
            height: 2rem;
            img {
              position: absolute;
              inset: 0;
              transition: 300ms opacity ease-in-out;
              &:not(:hover):last-child {
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}
