.form {
  &-group {
    margin-block: 2rem;
  }
  &-label {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: block;
  }
  &-control {
    background-color: var(--input-bg, rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(1rem);
    border: 1px solid var(--input-border-color, #fff);
    color: var(--input-color, #fff);
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    width: 100%;
    backdrop-filter: blur(3rem);
    &::placeholder {
      color: white;
    }
  }
  &-error {
    font-size: 1.3rem;
    color: #a70000;
  }
}
