@use "../config/" as *;
.vr {
  &-image {
    mask-image: url("/images/vr.webp");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    @include mq(md) {
      mask-image: url("/images/vr-desktop.webp");
    }
  }
  &-wrap {
    position: relative;
    padding: 2.5vw;
    max-width: 80rem;
    margin-inline: auto;
    // background-image: url("/images/vr-border.png");
    // background-size: contain;
    // background-position: center;
    // background-repeat: no-repeat;
    img {
      transition: 1s ease-in-out;
      aspect-ratio: 329/149;
      @include mq(md) {
        aspect-ratio: 329/113;
      }
    }
    &:hover {
      img {
        scale: 1.2;
      }
    }
    @include mq(md) {
      padding: 1.3vw;
    }
  }
}
