// filter

@use "../config/" as *;

.filter-8 {
  filter: blur(8px);
}

.filter-2 {
  filter: blur(2px);
}

.filter-4 {
  filter: blur(4px);
}
.circle {
  transition: transform 300ms ease-in-out;
}
// circle
.circle-parent {
  .circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    // background-color: orange;
    border-radius: 100vh;
    position: absolute;
  }

  .orange {
    background-color: var(--primary);
  }

  .black {
    background-color: var(--circle-black);
  }

  .white {
    background-color: var(--white);
  }
}

.theme {
  background-color: var(--theme-color, #1371ff);
}

.product-banner {
  .position-1 {
    width: 3rem;
    height: 3rem;
    filter: blur(8px);
    top: 0rem;
    right: 20%;

    @include mq(lg) {
      filter: blur(0px);
      bottom: -8%;
      top: unset;
      left: 65%;
      z-index: -1;
    }

    @include mq(xl) {
      bottom: -5%;
      top: unset;
    }

    @include mq(xxl) {
      bottom: 3%;
      top: unset;
    }
  }

  .position-2 {
    width: 3.1rem;
    height: 3.1rem;
    right: 0rem;
    bottom: 2rem;
    z-index: -1;

    @include mq(lg) {
      width: 1.6rem;
      bottom: -12%;
      height: 1.6rem;
      right: 13rem;
    }

    @include mq(xl) {
      bottom: -8%;
      right: 23%;
    }

    @include mq(xxl) {
      bottom: -2%;
      right: 23%;
    }
  }

  .position-3 {
    width: 6.3rem;
    height: 6.3rem;
    bottom: 7rem;
    right: 0rem;
    z-index: -1;

    @include mq(lg) {
      bottom: 0rem;
      width: 5rem;
      height: 5rem;
    }
  }

  .position-4 {
    width: 3.5rem;
    height: 3.5rem;
    top: 0rem;

    @include mq(xl) {
      bottom: 0rem;
      width: 6rem;
      height: 6rem;
    }
  }

  .position-5 {
    width: 2.8rem;
    height: 2.8rem;
    top: 4rem;
    right: 4rem;
    z-index: -1;

    @include mq(xl) {
      width: 5.6rem;
      height: 5.6rem;
      top: -10rem;
    }
  }

  .position-6 {
    top: -36rem;
    right: 0rem;
    width: 1.5rem;
    height: 1.5rem;
    filter: blur(2px);

    @include mq(xl) {
      right: 8rem;
      top: -10rem;
    }
  }
}

.sub-product {
  .position-1 {
    bottom: -22%;
    height: 3.2rem;
    left: 50%;
    width: 3.2rem;

    @include mq(xl) {
      display: block;
      top: -1rem;
      left: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .position-4 {
    width: 3.1rem;
    height: 3.1rem;
    bottom: -9rem;

    @include mq(xl) {
      left: 50%;
      bottom: -2.3rem;
      width: 3.7rem;
      height: 3.7rem;
    }
  }

  .position-3 {
    display: none;

    @include mq(xl) {
      display: block;
      top: -5rem;
      left: 5rem;
    }
  }

  .position-2 {
    display: none;

    @include mq(xl) {
      display: block;
      width: 8rem;
      height: 8rem;
      left: 0rem;
      bottom: 0rem;
      transform: translate(-50%, 50%);
      z-index: -1;
    }
  }

  .position-5 {
    width: 1.6rem;
    height: 1.6rem;
    bottom: -5rem;
    left: 5%;

    @include mq(xl) {
      left: 55%;
      bottom: -2.3rem;
    }
  }

  .after-circle {
    position: relative;

    .circle {
      width: 7rem;
      height: 7rem;
      background-color: var(--light-black);
      filter: blur(8px);
      position: absolute;
      bottom: -18rem;
      right: -3rem;

      @include mq(sm) {
        left: 33rem;
      }

      @include mq(xl) {
        bottom: -34rem;
        left: 23rem;
      }

      @include mq(xxl) {
        bottom: -38rem;
        left: 29rem;
      }
    }
  }
}

.sub-product-form {
  .position-1 {
    width: 3.8rem;
    height: 3.8rem;
    right: -2rem;
    top: 2.3rem;
    filter: blur(2px);

    @include mq(xl) {
      top: 22%;
      right: 16%;
    }
  }

  .position-2 {
    width: 2.1rem;
    height: 2.1rem;
    display: none;

    @include mq(xl) {
      display: block;
      left: 23%;
      bottom: 5rem;
    }
  }

  .position-3 {
    width: 3.7rem;
    height: 3.7rem;
    display: none;

    @include mq(xl) {
      display: block;
      right: 23%;
      bottom: 13rem;
    }
  }

  .position-4 {
    width: 3.5rem;
    height: 3.5rem;
    bottom: 14rem;
    right: 2rem;
    filter: blur(2px);

    @include mq(xl) {
      right: 15%;
    }
  }

  .position-5 {
    width: 1.8rem;
    height: 1.8rem;
    top: 13rem;
    right: 4rem;

    @include mq(md) {
      bottom: -1rem;
      top: unset;
    }
  }

  .position-6 {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 11rem;
    left: 5.4rem;

    @include mq(xl) {
      width: 2.5rem;
      height: 2.5rem;
      left: 16%;
      bottom: -1rem;
    }
  }

  .position-7 {
    width: 1.2rem;
    height: 1.2rem;
    top: 0rem;
    right: 0rem;

    @include mq(xl) {
      top: 27%;
      right: 18%;
    }
  }

  .position-8 {
    width: 0.7rem;
    height: 0.7rem;
    bottom: 12rem;
    left: 7rem;

    @include mq(xl) {
      display: none;
    }
  }

  .position-9 {
    height: 3.7rem;
    left: 22%;
    top: 0rem;
    width: 3.7rem;

    @include mq(md) {
      display: none;
    }
  }

  .position-10 {
    height: 1.3rem;
    left: 22%;
    top: 2rem;
    width: 1.3rem;

    @include mq(md) {
      display: none;
    }
  }
}
